.App {
  text-align: center;
  max-width: 1180px;
  margin: auto;
  padding: 0 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.daily-tasks__item__tasks-container{
  display: flex;
  justify-content: center;
  span {
    margin: 0 0.5em;
  }
}
